@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,400i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i&display=swap');

a {
cursor: pointer;
}

body {
	background-color: #f6f6f6;
	font-size:13pt;
	font-family:"Spectral";
	font-weight:500;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.fullpagecontainer {
  width:100%;
  min-height: 100%;
  background-image: url('paper.png');
  background-repeat: repeat-y;
}

h2 {
	color:#980000;
	font-weight:600;
	text-decoration:none;
	vertical-align:baseline;
	font-size:24pt;
	font-family:"Spectral SC";
	font-style:normal;
}
