a {
cursor: pointer;
}

body {
	background-color: #f6f6f6;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.fullpagecontainer {
  width:100%;
  background-image: url('paper.png');
  background-repeat: repeat-y;
}
